* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}


header {
    background-color: #f0f0f0;
    width: 100%;
}

nav {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
}

nav ol {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}


.nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 2rem;
}

#intro {
    margin-bottom: 2rem;
}

#aboutSection {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

#aboutSection img {
    max-width: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.aboutText {
    flex: 1;
}

.aboutText ol {
  padding-left: 1.2rem;
  margin-top: 0.5rem;
  line-height: 1.6;
  list-style-position: inside;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #f9f9f9;
}

footer a {
    text-decoration: none;
    color: #555;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover,
a:hover:visited {
  color: #6699CC;
}

a:visited {
  color: purple;
}
